{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Electronica{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
</head>

<body>
    {% block head %}
    <!-- Header section -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Add your logo or site title here -->
                <a class="navbar-brand" href="/">Electronica</a>

                <!-- Add your navigation links here (e.g., Home, Shop, Contact, etc.) -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <!-- Search Form -->
                        <form class="input-group mb-3">
                            <input type="text" class="form-control"  placeholder="Search">
                            <button class="btn btn-secondary" type="submit" id="search-btn">Search</button>
                         </form>
                    </li>
                    {% if user.is_authenticated%}
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">SignIn</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    <!-- Main content section -->
        {% block contents %}
            <main>

            </main>
        {% endblock %}
        
        {% block footer %}
    <!-- Footer section -->
    <footer class="mt-auto py-3 bg-light">
        <div class="container text-center">
            <!-- Add your footer content here, such as contact information, social media links, etc. -->
            <p>&copy; 2023 Electronica - Swahilielite. All rights reserved.</p>
        </div>
    </footer>
        {% endblock %}
    <!-- Bootstrap JS (Optional, only needed for certain components) -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</html>
