{%extends './base.html'%}
{%block contents%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h4 class="mb-0">Login</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            {% csrf_token %}
                            <label for="email" class="form-label">username/email</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                        <span>You have no account? <a href="{% url 'register' %}">Register</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}