{%extends './base.html'%}

{%block contents%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Registration Form</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary">Register</button>
                        <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}